body{
    background-color: rgb(191, 196, 152);
}

header{
    background-color: rgb(120, 106, 170);
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 200%;
    color: lightcyan;
    font-weight: bolder;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;

    
}

.h1{
    padding-top: 40px;
    font-size: 120%;
    font-weight: 900;
  
}

.mtc{
    padding-top: 20px;
    line-height: 2.5em;
 
}